@tailwind base;
@tailwind components;
@tailwind utilities;
.app
{
    background-image: url('../public/bg.svg');
    background-size: cover;  
    background-position: center; 
    background-repeat: repeat;
}
.remaining-height-element {
    height: calc(100vh - 70px);
  }
  body
  {
    font-family: 'lato';
  }
.bgHome
{
  background-image: url('../public/bgHome.svg');
  background-size: cover;  
  background-position: center; 
  background-repeat: repeat;
}
.bgFooter
{
  background-image: url('../public/BG2.svg');
  background-size: cover;  
  background-position: center; 
  background-repeat: repeat;
  

}
.shadow
{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.slick-slide div
{
  margin: 10px;
}
.slick-prev
{
  top: -40px;
  left: 80%;
}.slick-next
{
  top: -40px;
  right: 5%;
}
.slick-arrow:before
{
  color: #20b486;
  border: 0px;
  font-size: 30px;
}
/* HTML: <div class="cloud"></div> */
